<!DOCTYPE html>
<html>
<head>
    <title>Timur's social network</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="global-wrapper">
        <header>
            <div class="logo">
                <img src=" {{url_for('static', filename='icon.jpg')}} " alt="">
                <span>Timur Inc</span>
            </div>
            <div class="actions">
                {% block actions %}
                {% endblock %}
            </div>
        </header>
        <main>
            {% block main %}

            {% endblock %}
        </main>
        <footer>
            Timur Inc.
        </footer>
    </div>

</body>
</html>
